---
env:
  node: true
  browser: true
  es6: true
parserOptions:
  ecmaVersion: 2017
plugins:
  - prettier
extends:
  - eslint:recommended
  - prettier
rules:
  prettier/prettier:
    - error
    - singleQuote: true
      semi: false
      trailingComma: es5
      bracketSpacing: true
      arrowParens: avoid
  no-console: 0
