body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1em;
}

h1 {
  margin: .5em 0 0 0;
}

.orgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.org {
  flex: 0 0 25%;
  margin-bottom: 1em;
}

.none {
  color: gray;
}

ul {
  margin: 0;
  padding-left: 1em;
}

.gci-logo {
  float: left;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

footer {
  text-align: center;
}

@media only screen and (max-width : 450px) {
  .org {
    flex: 0 0 100%;
  }
}

@media only screen and (min-width : 450px) and (max-width : 600px) {
  .org {
    flex: 0 0 50%;
  }
}

@media only screen and (min-width : 600px) and (max-width : 750px) {
  .org {
    flex: 0 0 33.333333%;
  }
}
