<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GCI Leaders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="GCI Current Leaders">
    <meta property="og:description" content="Google Code-in 2017 Current Leaders">
    <meta property="og:image" content="{{{rootURL}}}/images/GCI-logo.jpg">
    <link rel="stylesheet" href="{{assets.main-css}}">
  </head>
  <body>
    <div>
      <a href="http://codein.withgoogle.com">
        <img class="gci-logo" src="images/logos/gci.png" alt="Code-In logo">
      </a>
      <h1 data-i18n="page-title">Google Code-in 2017 Current Leaders</h1>
    </div>
    <small id="time" data-time="{{datetime}}"><span data-i18n="last-updated">Last updated</span>: {{datetime}} <span id="ago"></span></small>
    <div>
      <div class="progress-outer">
        <div class="progress-inner">
          <div class="progress-bar">
          </div>
        </div>
      </div>
      <span class="progress-text"><i id="progress" data-noclaims="{{noClaims}}" data-competitionopen="{{competitionOpen}}"></i></span>
    </div>
    <hr>
    <i data-i18n="order-info">
      The leading participants for each organization (and their GitHub accounts,
      if applicable) are listed randomly.
    </i>
    <div class="chooser">&#x1F310;&nbsp;<select id="lang-select"></select></div>
    <div class="orgs">
      {{#withLeader}}
        <div class="org">
          <div class="org-image">
            <a href="https://codein.withgoogle.com/organizations/{{slug}}">
              <img class="org-image" alt="{{name}} logo" src="https://{{image_url}}">
            </a>
          </div>
          <div class="org-info">
            <h3>
              <a href="https://codein.withgoogle.com/organizations/{{slug}}">
                {{name}}
              </a>
            </h3>
            <p><span data-i18n="tasks-completed">Tasks Completed</span>: {{completed_task_instance_count}}</p>
            {{#github}}
              <a href="https://github.com/{{github}}">
                <img
                  src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"
                  class="github"
                  alt="Find them on GitHub"
                />
              </a>
            {{/github}}
            {{#mailing_list}}
              <a href="{{mailing_list}}">
                <img src="images/mail.png" class="chat" alt="Join their mailing list" />
              </a>
            {{/mailing_list}}
            {{#chat}}
              <a href="{{chat.url}}">
                <img src="{{chat.image}}" class="chat" alt="Join their chat" />
              </a>
            {{/chat}}
            {{#twitter_url}}
              <a href="{{twitter_url}}">
                <img src="images/logos/twitter.png" class="chat" alt="Find them on Twitter" />
              </a>
            {{/twitter_url}}
            {{#gplus_url}}
              <a href="{{gplus_url}}">
                <img src="images/logos/gplus.png" class="chat" alt="Find them on Google+" />
              </a>
            {{/gplus_url}}
            {{#website_url}}
              <a href="{{website_url}}">
                <img src="images/logos/global.png" class="chat" alt="Visit their website" />
              </a>
            {{/website_url}}
            {{#wikipedia_urls.en}}
              <a href="{{wikipedia_urls.en}}">
                <img src="images/logos/wikipedia.png" class="chat" alt="Read about them on Wikipedia" />
              </a>
            {{/wikipedia_urls.en}}
            {{#wikidata_url}}
              <a href="{{wikidata_url}}">
                <img src="images/logos/wikidata.png" class="chat" alt="See them on Wikidata" />
              </a>
            {{/wikidata_url}}
            {{#stack_exchange}}
              <a href="{{stack_exchange.url}}">
                <img src="{{stack_exchange.image}}" class="chat" alt="Do Q&amp;A on Stack Exchange" />
              </a>
            {{/stack_exchange}}
            <div class="org-leaderboard">
              <ul>
                {{#leaders}}
                  <li>
                    {{#github_account}}
                      <a href="https://github.com/{{github_account}}">
                    {{/github_account}}
                    {{display_name}}
                    {{#github_account}}
                      </a>
                    {{/github_account}}
                  </li>
                {{/leaders}}
              </ul>
            </div>
          </div>
        </div>
      {{/withLeader}}
    </div>
    {{#noLeader.length}}
      <h3 data-i18n="orgs-no-listed">Organization(s) with no listed leaders</h3>
      <hr>
      <div class="orgs">
        {{#noLeader}}
        <div class="org">
          <div class="org-image">
            <a href="https://codein.withgoogle.com/organizations/{{slug}}">
              <img class="org-image" src="https://{{image_url}}" alt="{{name}} logo">
            </a>
          </div>
          <div class="org-info">
            <h3>
              <a href="https://codein.withgoogle.com/organizations/{{slug}}">
                {{name}}
              </a>
            </h3>
            <p><span data-i18n="tasks-completed">Tasks Completed</span>: {{completed_task_instance_count}}</p>
            {{#github}}
              <a href="https://github.com/{{github}}">
                <img
                  src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"
                  class="github"
                  alt="Find them on GitHub"
                />
              </a>
            {{/github}}
            {{#mailing_list}}
              <a href="{{mailing_list}}">
                <img src="images/mail.png" class="chat" alt="Join their mailing list" />
              </a>
            {{/mailing_list}}
            {{#chat}}
              <a href="{{chat.url}}">
                <img src="{{chat.image}}" class="chat" alt="Join their chat" />
              </a>
            {{/chat}}
            {{#twitter_url}}
              <a href="{{twitter_url}}">
                <img src="images/logos/twitter.png" class="chat" alt="Find them on Twitter" />
              </a>
            {{/twitter_url}}
            {{#gplus_url}}
              <a href="{{gplus_url}}">
                <img src="images/logos/gplus.png" class="chat" alt="Find them on Google+" />
              </a>
            {{/gplus_url}}
            {{#website_url}}
              <a href="{{website_url}}">
                <img src="images/logos/global.png" class="chat" alt="Visit their website" />
              </a>
            {{/website_url}}
            {{#wikipedia_urls.en}}
              <a href="{{wikipedia_urls.en}}">
                <img src="images/logos/wikipedia.png" class="chat" alt="Read about them on Wikipedia" />
              </a>
            {{/wikipedia_urls.en}}
            {{#wikidata_url}}
              <a href="{{wikidata_url}}">
                <img src="images/logos/wikidata.png" class="chat" alt="See them on Wikidata" />
              </a>
            {{/wikidata_url}}
            {{#stack_exchange}}
              <a href="{{stack_exchange.url}}">
                <img src="{{stack_exchange.image}}" class="chat" alt="Do Q&amp;A on Stack Exchange" />
              </a>
            {{/stack_exchange}}
          </div>
        </div>
        {{/noLeader}}
      </div>
    {{/noLeader.length}}
    <div class="twitter">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/googlecodein"
         data-widget-id="938830025809432577">
      </a>
    </div>
    <footer>
      <small data-i18n="footer-text">Google Code-in and the Google Code-in logo are trademarks of Google Inc.</small>
    </footer>
    <script src="{{assets.main-js}}"></script>
  </body>
</html>
